CREATE TABLE public.home_news ( id uuid DEFAULT gen_random_uuid() PRIMARY KEY, active boolean DEFAULT true, sort_order int4 DEFAULT 0, image_src text, title jsonb NOT NULL, text jsonb NOT NULL, url text, text_url jsonb, created_at timestamptz DEFAULT now() ); CREATE TABLE public.home_posts ( id uuid DEFAULT gen_random_uuid() PRIMARY KEY, active boolean DEFAULT true, sort_order int4 DEFAULT 0, type text DEFAULT 'instagram' NOT NULL, url text NOT NULL, image_src text, title jsonb, created_at timestamptz DEFAULT now() );
